 RewriteEngine on

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>


RewriteCond %{REQUEST_URI} !(\.gif|\.jpg|\.png|\.css|\.js)$ [NC]
RewriteRule ^(.*)$ index.php [NC,L]