@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #49494a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ======== HEADER ======== */

header {
    position: fixed;
    z-index: 10;
    height: 100px;
    width: 100%;
    top: 0;
    background: #ffffff;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.18);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    flex-direction: column;
}

header .logo {
    margin-bottom: 20px;
    max-width: 100px;
}

header .logo img {
    max-width: 100px;
}

header nav {
    margin: 0 -15px;
}

header nav a {
    font-size: 17px;
    font-weight: 600;
    padding: 0 15px;
    transition-duration: .3s;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 600px) {
    body {
        padding-top: 100px;
    }

    header .container {
        flex-direction: row;
    }

    header .logo {
        margin-bottom: 0px;
    }

    header .logo img {
        max-width: unset;
    }
}

/* ======== END OF HEADER ======== */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.flexGrow {
    flex-grow: 1;
}

.container.flexGrow {
    margin-bottom: 50px;
}

.container__scrollInfo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.container img {
    max-width: 250px;
}

.container__malasyrenka {
    padding: 30px;
}

.container__pricelist {
    display: flex;
    justify-content: center;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider img {
    width: 100%;
}

.title {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

.titleContainer {
    display: flex;
    justify-content: center;
}

.content__infoBox {
    padding: 0 20px;
}

form div:last-of-type {
    padding: 0 15px;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
}

.contact-form .col {
    width: 100%;
    padding: 0 15px;
}

.contact-form .col.to-right {
    text-align: right;
}

.contact-form .col-half {
    width: 50%;
    padding: 0 15px;
}

input[type="text"],
textarea,
select {
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    margin: 10px 0;
    font-family: Roboto;
}

button[type="submit"] {
    display: inline-block;
    margin-left: auto;
    margin-right: 15px;
    padding: 15px 25px;
    border: 2px solid rgb(65,105,225);
    transition: 0.2s linear;
    color: #ffffff;
    background: rgb(65,105,225);
}

button[type="submit"]:hover {
    color: rgb(65,105,225);
    background: none;
}

#subject {
    resize: none;
}

.flexWithImage {
    margin-bottom: 30px;
    display: flex;
}

.flexWithImage:nth-of-type(even) {
    flex-direction: row-reverse;
}

.flexWithImage:nth-of-type(even) .content__doctor {
    text-align: right;
}

.content__info {
    text-align: justify;
    padding: 10px 0;
}

/* ======== FOOTER ======== */

footer {
    background-image: linear-gradient(135deg,rgb(156, 32, 194),rgb(30, 182, 187));
}

.footer__container {
    padding: 20px;
    text-align: center;
    color: #cecece;
}

.container__sign {
    margin-bottom: 20px;
}

.container__sign:nth-of-type(2) {
    margin-bottom: 0;
}

.container__heart {
    display: inline-block;
    color: salmon;
    animation: heartAnimation 1s linear infinite;
    margin: 0 5px;
}

@keyframes heartAnimation {
    0%{
        transform: scale(1);
    }
    73%{
        transform: scale(1);
    }
    75%{
        transform: scale(2);
    }
    77%{
        transform: scale(1);
    }
    88%{
        transform: scale(1);
    }
    90%{
        transform: scale(2);
    }
    92%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
}

/* ======== END OF FOOTER ======== */

/* ======== ANIMATIONS STYLE ======== */

.infoToBeFadedIn {
    transform: translate(-100%);
    transition: transform .5s linear;
}

.infoToBeFadedIn.scrolled {
    transform: translate(0);
}

/* ======== END OF ANIMATIONS STYLE ======== */

/* ======== ADDITIONS ======== */

#twoColoredText {
    display: inline-block;
    text-align: center;
    background: linear-gradient(135deg, rgb(156, 32, 194),rgb(30, 182, 187));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* ======== END OF ADDITIONS ======== */

/* ======== TABLE ======== */

table {
    padding-top: 20px;
}

.row {
    height: 30px;
    background: #b3ecff;
}

.row:nth-of-type(even) {
    height: 30px;
    background: #ffffff;
}

.firstColumn {
    width: 300px;
    padding-left: 10px;
}

.secondColumn {
    width: 100px;
    padding-left: 10px;
}

/* ======== END OF TABLE ======== */

/* ======== GRID ======== */

.realisation {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.realisation .grid {
    display: flex;
}

.realisation .grid div {
    font-size: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.first-column div:hover,
.first-row div:hover,
.last-row div:hover {
    opacity: 0.7;
    overflow: hidden;
}

.first-column div:hover img,
.first-row div:hover img,
.last-row div:hover img {
    opacity: 0.7;
    transform: scale(1.2);
}

.realisation .grid div {
    transition-duration: 1s;
}

.realisation .grid div img {
    width: 100%;
    opacity: 1;
    transition-duration: 1s;
}

.realisation .grid .last-column {
    display: flex;
    flex-direction: column;
}

.realisation .grid .last-column img {
    height: 100%;
}

.realisation .grid .last-column,
.realisation .grid .last-row,
.realisation .grid .first-row {
    display: flex;
}

.realisation .grid .last-column .first-row,
.realisation .grid .last-column .last-row {
    height: 50%;
}

/* ======== END OF GRID ======== */